<div id="userView">
    <p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}} {{timezone}}. Your role in the system is: {{role}}.</p>
    <!-- TODO: Make the schedule actually show a schedule -->
    {{#if isAdmin}}
    <a id="adminLink" href="/admin">Admin Page</a>
    {{/if}}
    <a id="logoutLink" href="/logout">Logout</a>
</div>
